@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root{
  --primary: #19647E;
  --secondary: #EE964B;
  --warning: #F4D35E;
  --danger: #eb4b4b;
  --success:#66E795;
  --info: #28AFB0;
  --dark: #3B525B;
  --light: #D9D9D9;

  --secondary-off: #ee974bc0;


}

*{
  margin: 0;

  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.t-white{
  color: white;
}

.bg-white{
  background-color: white;
}

.bg-whiteE{
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.bg-whiteE input {
  border: none;
}

.bg-secondary{
  background-color: var(--secondary);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.bg-secondary-off {
  background-color: var(--secondary-off);
}

.bg-info{
  background-color: var(--info);
}

/* TEXT SIZES */

.ts-1, h1{
  font-size: calc(2rem + 2vw);
}

/* TEXT ALIGN */
.t-center{
  text-align: center;
}



/* CONTAINER */

.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 95%;
  margin: auto;
  padding-top: 4rem;
  position: relative;
  z-index: 20;
}

@media (min-width: 500px) {
  .container {
    width: 80%;
  }
}

@media (min-width:900px) {
  .container {
    width: 60%;
  }
}