.addQuiz{
    width: 4.5rem;
    height: 4.5rem;
    font-size: 4rem;
    border-radius: 50%;
    background-color: var(--secondary);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

.fx-j-cen{
    justify-content: center;
}

.fx-j-rig{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.topic-input{
    border:none;
    outline: none;
    padding: 0.5rem 2rem;
    border-bottom: 3px var(--secondary) solid;
    background-color: transparent;
    margin: 0 1rem;
}