.d-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
    position: relative;

}
.quest{
    width: 80%;
    padding: 2rem;
    position: relative;
    color:var(--dark);

}

.preg{
    position: absolute;
    top:0;
    left: 0;
    transform: translateY(-100%);
    color:var(--dark)
}
.admin{
    position: absolute;
    top: 0;
    left: 50%;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    transform: translate(-50%, -60%);
    background-color: var(--secondary);
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;

}

.opt{
    background-color: white;
    color: var(--dark);
    padding: 1rem;
    margin-top: 1.5rem;
    width: 50%;
    max-width: 90%;
    cursor: pointer;

}
.pointer{
    cursor: pointer;
}

.selectOpt{
    outline: var(--primary) dashed 3px;
}
.selectOpt-true {
    outline: var(--success) dashed 3px;
}
.selectOpt-false {
    outline: var(--danger) dashed 3px;
}

.btn-send{
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 50%;
}

.avatars{
    width: 60%;
    margin:2rem auto ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.avatars > div {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--primary);
   
}

div.main-avatar{
    height: 5rem;
    width: 5rem;
}

.confidence-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confidence-level {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.confidence-level.active {
    background-color: #eee;
}

.trust-div{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}

.trust{
    width: 100%;
}
.trust-labels{
    width: 100%;
    display: flex;
    justify-content: space-around;
}