.app{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 95%;
  margin: auto;
  padding-top: 4rem;
  position: relative;
  z-index: 20;
}

@media (min-width: 500px) {
  .container {
    width: 80%;
  }
}

@media (min-width:900px) {
  .container {
    width: 60%;
  }
}



