@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root{
  --primary: #123;
}

*{
      font-family: "Luckiest Guy", cursive;
      font-weight: 400;
      font-style: normal;
      color: var(--primary);
}